:root {
    --primary-color: #503dc9;
    --primary-color-degree: #8f7bff;
    --secondary-color: #FFA500;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.sectionOne {
    background-color: var(--primary-color);
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr;
}

.tittlePage {
    color: white;
    font-weight: 600;
    margin-left: 10vw; 
    margin-top: 3vw;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    gap: 5px;
}

.containerOne {
    width: 50%;
    position: relative; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.containerOne img {
    width: 26vw;
    height: 36vw;
    object-fit: cover;
    z-index: 2;
}

.containerTwo {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerTwo .tittle {
    color: var(--primary-color-degree);
    font-weight: 700;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}

.containerTwo .description {
    color: white;
    font-size: 3.2vw;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

.containerTwo button {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    padding: 1vw 0;
    border: none;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    cursor: pointer;
    font-weight: 700;
    margin-top: 2vw;
    text-transform: uppercase;
}